# =============== #
# Unity generated #
# =============== #
UnityProject/[Tt]emp/
UnityProject/[Oo]bj/
UnityProject/[Bb]uild
UnityProject/[Bb]uilds/
UnityProject/[Ll]ibrary/
UnityProject/sysinfo.txt
UnityProject/*.stackdump
UnityProject/Assets/AssetStoreTools*
UnityProject/*.apk
UnityProject/*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
UnityProject/[Ee]xported[Oo]bj/
UnityProject/.vs/
UnityProject/*.userprefs
UnityProject/*.csproj
UnityProject/*.pidb
UnityProject*.pidb.meta
UnityProject/*.suo
UnityProject/*.sln*
UnityProject/*.user
UnityProject/*.unityproj
UnityProject/*.booproj
UnityProject/.consulo/
UnityProject/*.tmp
UnityProject/*.svd
 
# ============ #
# OS generated #
# ============ #
UnityProject/.DS_Store*
UnityProject/._*
UnityProject/.Spotlight-V100
UnityProject/.Trashes
UnityProject/Icon?
UnityProject/ehthumbs.db
UnityProject/[Tt]humbs.db
UnityProject/[Dd]esktop.ini
UnityProject/Corridor/Library/ShaderCache/
UnityProject/Corridor/Library/metadata/